/* Outer form wrapper */
.login-background{
    background-image: url("https://t4.ftcdn.net/jpg/02/94/26/33/360_F_294263329_1IgvqNgDbhmQNgDxkhlW433uOFuIDar4.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
}
.login-form {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

/* Main container */
.login-container {
  margin: 0 auto;
  width: 100%;
  max-width: 28rem; /* same as max-w-lg */
  background-color: rgba(216, 209, 216, 0.5);
  border-radius: 0.75rem; /* rounded-xl */
  padding: 2.5rem; /* p-10 */
  border: 1px solid rgba(137, 109, 109, 0.9); /* border-black/10 */
}

/* Logo wrapper */
.logo-wrapper {
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: center;
}

.logo {
  display: inline-block;
  width: 100px;
  max-width: 100px;
}

/* Title */
.login-title {
  text-align: center;
  font-size: 1.5rem; /* text-2xl */
  font-weight: bold;
  line-height: 2rem; /* leading-tight */
  color: #220b4d; /* example primary color */
}

/* Signup text */
.signup-text {
  margin-top: 0.5rem;
  text-align: center;
  font-size: 1rem; /* base */
    color: #220b4d;
}

.signup-link {
  font-weight: 500;
  color: #220b4d; /* example primary color */
  transition: all 0.2s;
}

.signup-link:hover {
  text-decoration: underline;
}
.text{
    color: black;
    text-align: center;
    font-size: 28px;
    font-weight: bolder;
    margin-bottom: 2px;
}

/* Error */
.error-message {
  color: #dc2626; /* red-600 */
  margin-top: 2rem;
  text-align: center;
}

/* Form */
.login-form-content {
  margin-top: 2rem;
}

.form-fields {
  display: flex;
  flex-direction: column;
  gap: 1.25rem; /* space-y-5 */
}

/* Submit button */
.submit-btn {
  width: 100%;
  background-color: slateblue;
}
@media  (max-width: 640px) {
    .text {
        font-size: 24px;
    }
    .login-title{
        font-size: 1.2rem;
        font-weight: bold;
        margin-top: 10px;
    }
    .signup-text{
        font-size: 0.9rem;
        margin-top: 10px;
    }
}