html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

/* Reset headings & paragraphs default margin */
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}